In [18]:
print('*    '*5,'\n','"Korea University"', '\n', '*'*18)

*    *    *    *    *
 "Korea University"
 ******************

In [19]:
print("It\'s OK")

It's OK

In [20]:
print('나는 자랑스런 태극기 앞에\n조국과 민족의 무궁한 영광을 위하여 몸과 마음을\n바쳐 충성을 다할 것을 굳게 다짐합니다')

나는 자랑스런 태극기 앞에
조국과 민족의 무궁한 영광을 위하여 몸과 마음을
바쳐 충성을 다할 것을 굳게 다짐합니다

In [22]:
# 문자열 여러개 출력 > 쌍따옴표 3개 이용 

a = """
It's OK.
I'm Happy.
See you."""

print(a)

It's OK.
I'm Happy.
See you.

In [25]:
name = input('이름을 입력하시오 : ')
age = input('나이를 입력하시오? : ')

print(name, '\b님의 나이는', int(age)-5, '\b살 처럼 보입니다')

## 붙여서 출력하려면 \b : 특수문자 기능(escape) 사용 !!

이름을 입력하시오 : 홍길동
나이를 입력하시오? : 32
홍길동님의 나이는 27살 처럼 보입니다

In [26]:
## 문자열 포맷팅(문자열 서식) : 쉼표 쓰지말고 그냥 %변수 하기 !! 

age = input("나이를 입력하시오 : ")
print('나이는 %s살 입니다. ' %age)

나이를 입력하시오 : 13
나이는 13살 입니다.

In [28]:
# 문자열 정렬 

print('%10s' % 'KOREA')
print('%-10s' % 'University')

     KOREA
University

In [29]:
# 문자열 포맷팅 >> 다시 봐야할 듯 

파이값 = 3.14159265
print('파이값은 약 {0:^10.3f}입니다.'.format(파이값))

파이값은 약   3.142   입니다.

In [35]:
# 문자열 슬라이싱과 서식을 이용해 다음 프로그램을 출력하기 

num = input('학번을 입력하세요 >>')

print('입학년도: %10s' %num[:4])
print('학생번호: %10s' %num[4:])

학번을 입력하세요 >>2019150471
입학년도:       2019
학생번호:     150471

In [37]:
# 참(TRUE) 이란 비어있지 않거나 0이 아닌 모든 값을 말한다

if -1 : 
    print('-1은 참입니다')
    
if 'a':
    print('a는 참입니다.')       # 이딴식으로 if를 쓰는 사람도 있다니..

-1은 참입니다
a는 참입니다.

In [38]:
print("""             

*-*-*-*-*-*-*-*-*-*
   HONGDAE CLUB 
*-*-*-*-*-*-*-*-*-*

""")      

age = int(input('How old are you? '))

if age <25:
    print('Welcome to the club')
else:
    print('No way!! ')

*-*-*-*-*-*-*-*-*-*
   HONGDAE CLUB
*-*-*-*-*-*-*-*-*-*


How old are you? 22
Welcome to the club

In [39]:
# 3항 조건 연산자 

value = int(input('숫자를 입력하시오 : '))
print('짝수 입니다.') if value % 2 == 0 else print('홀수입니다')

숫자를 입력하시오 : 22
짝수 입니다.

In [40]:
# 이것도 됨 (print문 안에 다 때려넣기 )

print('짝수' if value % 2 == 0 else '홀수')

짝수

In [41]:
score = int(input('점수를 입력하시오 : '))
hak = ""

if 90 <= score <= 100:
    hak = 'A'
    
else:
    if 80 <= score <= 89:
        hak = 'B'
    elif 70 <= score <= 79:
        hak = 'C'
    elif 60 <= score <= 69:
        hak = 'D'
    else:
        hak = 'F'
print('학점 : %s' %hak)

점수를 입력하시오 : 65
학점 : D

In [44]:
# 언더바 함수 만들기 

def under_bar():
    print('_' * 15)
    
under_bar()

_______________

In [50]:
# 리스트 인덱싱 (특히 마이너스)

citys = ['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']

print(citys[-8:])     # 그냥 원래대로 출력함 (-8은 맨 처음이기 때문)
print(citys[-8:2])    # 처음부터 두번째까지 

# 리스트 보폭 이용하기
print(citys[::2])     # 두번씩 징검다리 건너뛰면서 출력
print(citys[::-1])    # 거꾸로 출력

['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
['서울', '부산']
['서울', '인천', '대전', '울산']
['수원', '울산', '광주', '대전', '대구', '인천', '부산', '서울']

In [52]:
# extend() : 새로운 리스트를 기존 리스트에 추가 
# >> + 연산자와 동일한 기능 

citys.extend(['개졸리네'])
print(citys)

['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원', '개졸리네', '개졸리네']

In [56]:
# insert() : i번째 인덱스에 특정 원소 추가(하나씩 밀림)

citys.insert(1, '개개개개개졸려')
print(citys)

['서울', '개개개개개졸려', '개개개개개졸려', '개개개개개졸려', '부산', '인천', '대구', '대전', '광주', '울산', '수원', '개졸리네', '개졸리네']

In [58]:
# remove() : 특정 원소 지정해 삭제
citys.remove('개개개개개졸려')
print(citys)

['서울', '개개개개개졸려', '개개개개개졸려', '부산', '인천', '대구', '대전', '광주', '울산', '수원', '개졸리네', '개졸리네']

In [61]:
# del : 인덱스로 삭제
del citys[0]
print(citys)

['개개개개개졸려', '부산', '인천', '대구', '대전', '광주', '울산', '수원', '개졸리네', '개졸리네']

In [67]:
# 리스트 타입의 딕셔너리? 

school = {'20190001':'홍길동', 
             '20190002':'이순신', 
             '20190003':'장보고'}

print(school.keys())
print(school.values())
print(school.items())

dict_keys(['20190001', '20190002', '20190003'])
dict_values(['홍길동', '이순신', '장보고'])
dict_items([('20190001', '홍길동'), ('20190002', '이순신'), ('20190003', '장보고')])

In [68]:
# for문 사용하기

for i in range(1, 10):
    print('2 * %d = %2d' %(i, 2*i))

2 * 1 =  2
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [69]:
# 9단을 거꾸로 출력하기 

for i in range(9, 0 ,-1):
    print(' 9 * %d = %2d'  %(i, 9*i))

 9 * 9 = 81
 9 * 8 = 72
 9 * 7 = 63
 9 * 6 = 54
 9 * 5 = 45
 9 * 4 = 36
 9 * 3 = 27
 9 * 2 = 18
 9 * 1 =  9

In [70]:
# 2단 ~ 9단까지 출력하기 

for i in range(2, 10):
    for j in range(1, 10):
        print(' %d X %d = %d' %(i, j, i*j))

 2 X 1 = 2
 2 X 2 = 4
 2 X 3 = 6
 2 X 4 = 8
 2 X 5 = 10
 2 X 6 = 12
 2 X 7 = 14
 2 X 8 = 16
 2 X 9 = 18
 3 X 1 = 3
 3 X 2 = 6
 3 X 3 = 9
 3 X 4 = 12
 3 X 5 = 15
 3 X 6 = 18
 3 X 7 = 21
 3 X 8 = 24
 3 X 9 = 27
 4 X 1 = 4
 4 X 2 = 8
 4 X 3 = 12
 4 X 4 = 16
 4 X 5 = 20
 4 X 6 = 24
 4 X 7 = 28
 4 X 8 = 32
 4 X 9 = 36
 5 X 1 = 5
 5 X 2 = 10
 5 X 3 = 15
 5 X 4 = 20
 5 X 5 = 25
 5 X 6 = 30
 5 X 7 = 35
 5 X 8 = 40
 5 X 9 = 45
 6 X 1 = 6
 6 X 2 = 12
 6 X 3 = 18
 6 X 4 = 24
 6 X 5 = 30
 6 X 6 = 36
 6 X 7 = 42
 6 X 8 = 48
 6 X 9 = 54
 7 X 1 = 7
 7 X 2 = 14
 7 X 3 = 21
 7 X 4 = 28
 7 X 5 = 35
 7 X 6 = 42
 7 X 7 = 49
 7 X 8 = 56
 7 X 9 = 63
 8 X 1 = 8
 8 X 2 = 16
 8 X 3 = 24
 8 X 4 = 32
 8 X 5 = 40
 8 X 6 = 48
 8 X 7 = 56
 8 X 8 = 64
 8 X 9 = 72
 9 X 1 = 9
 9 X 2 = 18
 9 X 3 = 27
 9 X 4 = 36
 9 X 5 = 45
 9 X 6 = 54
 9 X 7 = 63
 9 X 8 = 72
 9 X 9 = 81

In [72]:
# 숫자를 입력받고 입력받은 숫자에 해당하는 구구단 출력

number = int(input('출력할 단을 입력하시오 : '))

for i in range(1, 10):
    print('%d X %d = %d' %(number, i, number*i))

출력할 단을 입력하시오 : 88
88 X 1 = 88
88 X 2 = 176
88 X 3 = 264
88 X 4 = 352
88 X 5 = 440
88 X 6 = 528
88 X 7 = 616
88 X 8 = 704
88 X 9 = 792